div
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
a
{
    background-color: #f1f1f1;
    padding: .5rem 1rem;
    margin: .2rem .15rem;
    border-radius: 10rem;
    color: grey;
    font-weight: 650;
}
a:hover
{
    color: red;
}