    <h4>Hello Admin 🫡</h4>

<div class="container" style="background-image: url('https://images.pexels.com/photos/3298637/pexels-photo-3298637.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1'); background-repeat: no-repeat; width: 1500; color:white;">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <div class="form-group">
                <label for="" class="form-label">Food id</label>
                <input type="text" name="" id="" [(ngModel)]="foodid" class="form-control">
            </div>
            <div class="form-group">
                <label for="" class="form-label">Food name</label>
                <input type="text" name="" id="" [(ngModel)]="foodname" class="form-control">
            </div>
            <div class="form-group">
                <label for="" class="form-label">Food cooktime</label>
                <input type="text" name="" id="" [(ngModel)]="foodcooktime" class="form-control">
            </div>
            <div class="form-group">
                <label for="" class="form-label">Food price</label>
                <input type="text" name="" id="" [(ngModel)]="foodprice" class="form-control">
            </div>
            <div class="form-group">
                <label for="" class="form-label">Food favourite</label>
                <input type="text" name="" id="" [(ngModel)]="foodfavourite" class="form-control">
            </div>
            <div class="form-group">
                <label for="" class="form-label">Food origins</label>
                <input type="text" name="" id="" [(ngModel)]="foodorigins" class="form-control">
            </div>
            <div class="form-group">
                <label for="" class="form-label">Food stars</label>
                <input type="text" name="" id="" [(ngModel)]="foodstars" class="form-control">
            </div>
            <div class="form-group">
                <label for="" class="form-label">Food imageUrl</label>
                <input type="text" name="" id="" [(ngModel)]="foodimageUrl" class="form-control">
            </div>
            <div class="form-group">
                <label for="" class="form-label">Food tags</label>
                <input type="text" name="" id="" [(ngModel)]="foodtags" class="form-control">
            </div>
            <div class="form-group" style="margin-top: 10px;">
            <button class="btn btn-success" (click)="addfood()">Submit</button>&nbsp;
            <button class="btn btn-danger">Cancel</button>
            </div>
        </div>
        <div class="col-md-4"></div>
    </div>
</div>